Package            Version
------------------ ---------
brotlipy           0.7.0
certifi            2022.6.15
cffi               1.15.1
charset-normalizer 2.1.1
cryptography       37.0.4
cycler             0.11.0
fonttools          4.37.0
idna               3.3
kiwisolver         1.4.4
matplotlib         3.5.3
munkres            1.1.4
numpy              1.23.2
packaging          21.3
Pillow             9.2.0
pip                22.2.2
pycparser          2.21
pyOpenSSL          22.0.0
pyparsing          3.0.9
PySocks            1.7.1
python-dateutil    2.8.2
requests           2.28.1
setuptools         65.2.0
six                1.16.0
torch              1.12.1
torchvision        0.13.0a0
tornado            6.2
typing_extensions  4.3.0
unicodedata2       14.0.0
urllib3            1.26.11
wheel              0.37.1
